@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Fredoka, "san-serif";
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gainsboro;
}

.main {
  width: 100%;
  max-width: 450px;
  /* 450 * (16 / 9) ≈ 800px height*/
  aspect-ratio: 9/16;
  background-color: whitesmoke;
  padding: 2rem;
  border-radius: 35px;
}

header {
  padding-bottom: 2rem;
  text-align: center;
}

.display-area {
  display: flex;
  height: 550px;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
}

.choices {
  display: flex;
  flex-direction: column;
  height: 400px;
}

.choices > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  flex: 1 0 auto;
}

.choices .computer-choice {
  transform: rotate(180deg);
}

.round-history {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

span {
  display: flex;
  justify-content: center;
}

.controls {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}
