@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Fredoka, "san-serif";
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gainsboro;
}

.main {
  width: 100%;
  max-width: 360px;
  height: 800px;
  max-height: 95dvh; /* Prevents it from being taller than the window */
  padding: 2rem;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
  position: relative;

  background-color: whitesmoke;
  border-radius: 35px;
}

header {
  padding-bottom: 1.2rem;
  /* font-size: 1.1rem; */
  font-size: clamp(0.9rem, 4.5vw, 1.1rem);
  text-align: center;
}

.display-area {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1.2rem;
}

.choices {
  display: flex;
  flex-direction: column;
  height: 350px;
  max-height: 45vh;
  border: 3px solid black;
  border-radius: 30px;
}

.choices > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 3px dotted black;
  flex: 1;
  /* font-size: 6rem; */
  font-size: clamp(3rem, 20vw, 6rem);
  overflow: hidden;
}

.choices .computer-choice {
  transform: rotate(180deg);
}

.result-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  /* font-size: 1.8rem; */
  font-size: clamp(1.1rem, 10vw, 1.8rem);
}

.round-history {
  display: flex;
  justify-content: center;
  height: 30px;
  gap: 0.25rem;
}

span {
  display: flex;
  justify-content: center;
  border: 2px solid black;
  border-radius: 15px;
}

svg {
  width: 25px;
  height: 25px;
}

.controls {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  margin-top: 1.2rem;
}

button {
  width: 90px;
  height: 100px;
  font-size: 2.5rem;
  border: 3px solid black;
  border-radius: 12px;
  background-color: white;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
  user-select: none;
}

button {
  position: relative;
  top: -6px;
  transition: all 40ms linear;
  margin: 10px 2px;
}

button:active,
button.active {
  top: 2px;
}

button {
  box-shadow: 0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255, 255, 255, 0.1) inset,
    /* base fill (gray) */ 0 6px 0 0 gainsboro,
    /* base border (black) */ 0 9px 0 0 #000000;
  background-color: #f9f9f9;
}

button:active,
button.active {
  box-shadow: 0 0 0 1px #ebebeb inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset,
    0 1px 0 0 #000;
}
