*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}
.buttons {
  display: flex;
  justify-content: space-between;
}

button {
  font-size: 1.5em;
  padding: 10px;
}

.container {
  height: auto;
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  border: 2px solid black;
}

.cell {
  aspect-ratio: 1/1;
  border: 1px solid black;
}

.cellHover {
  background-color: black;
}
