*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.container {
  height: auto;
  width: 600px;
  display: flex;
  justify-content: center;
  border: 2px solid black;
}
