* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  box-sizing: content-box;
}

body {
  background-color: whitesmoke;
  line-height: 1;
}

.main {
  padding: 100px;
  background-color: #2a5846;
  font-family: Arial, Verdana, sans-serif;
  line-height: 1.3;
}

h1 {
  font-size: 48px;
  text-align: center;
  color: whitesmoke;
}
.main p {
  font-size: 24px;
  color: whitesmoke;
  text-align: center;
}

a {
  text-decoration: none;
}

button {
  background-color: rgb(11, 153, 99);
  color: white;
  width: auto;
  display: block;
  padding: 10px;
  margin: 2rem auto;
  font-size: 16px;
  border: none;
  border-radius: 10px;
}
button:hover {
  color: #0b9963;
  background-color: #ffffff;
  cursor: pointer;
}

button:active {
  position: relative;
  top: 1px;
}

.content {
  font-family: Arial, Verdana, sans-serif;
  margin: 2rem;
  line-height: 1.3;
}

.content h2 {
  font-size: 32px;
  text-align: center;
}

.content p {
  color: #909090;
  text-align: center;
}

.recipeLink {
  text-align: center;
}

.recipe-card {
  display: inline-block;
  padding: 15px;
}
.recipeLink img {
  display: block;
  height: 300px;
  width: 400px;
}

.recipe-card-wrapper span {
  display: block;
  padding: 8px;
  color: black;
}

.recipe-card-wrapper {
  border: 2px solid black;
}

.recipe-card-wrapper:hover {
  border: 2px solid #0b9963;
}
