@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  /* border: 1px solid darkcyan; */
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.site-header,
.site-footer {
  background-color: #1f2937;
}

.site-header .nav > div {
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  color: #f9faf8;
  font-size: 1.5rem;
  font-weight: bold;
}

ul {
  list-style: none;
  display: flex;
  gap: 16px;
}

ul a {
  color: #e5e7eb;
  font-size: 1.125rem;
  font-weight: 300;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.hero {
  background-color: #1f2937;
}

.hero > div {
  height: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  height: 250px;
  display: flex;
  align-items: center;
  flex: 1;
  gap: 40px;
}

.hero-about {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.hero-image {
  height: 100%;
  background-color: #6d747d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0%;
}

.hero h1 {
  color: #f9faf8;
  font-size: 2.5em;
  font-weight: 900;
}

.hero p,
.hero-image {
  color: #e5e7eb;
  font-size: 1.125em;
  font-weight: 300;
}

.hero p {
  margin-bottom: 16px;
}

.hero button {
  border: none;
}

.info > div {
  height: 480px;
  text-align: center;
}

.info h2 {
  color: #1f2937;
  font-size: 2.25em;
  font-weight: 900;
  padding: 32px 16px;
}

.card-container {
  display: flex;
  height: fit-content;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 150px;
  text-align: center;
  border: none;
  gap: 8px;
}

.box {
  height: 150px;
  border: 3px solid #3882f6;
  border-radius: 10px;
}

.card p {
  font-size: 1em;
  color: #5c6571;
  font-weight: 400;
}

.quote {
  background-color: #e5e7eb;
}
.quote > div {
  height: 480px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.quote-content {
  width: 880px;
}

.quote .quote-text {
  font-size: 2.25rem;
  font-weight: 300;
  font-style: italic;
  color: #1f2937;
  text-align: justify;
}

.quote .cite {
  color: #1f2937;
  text-align: end;
}

.cta > div {
  height: 352px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-content {
  height: 144px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  background-color: #3882f6;
  border-radius: 8px;
}

.cta h3 {
  color: #f9faf8;
}
p {
  color: #ced9ed;
}

button {
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 1em;
  font-weight: 500;
  border-radius: 8px;
  border: 2px solid white;
  height: 32px;
  width: 130px;
}

button:hover {
  cursor: pointer;
}

button:active {
  background-color: white;
  color: #3882f6;
  position: relative;
  top: 1px;
}

.site-footer {
  height: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #e5e7eb;
  font-size: 1rem;
  font-weight: 200;
}
